body {
    background-color: bisque;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    user-select: none;
    -webkit-user-select: none;

    width: 100vw;
    height: 100vh;
    margin: 0;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
}

#main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flashcard-box {
    padding: 25px;
}

.flashcard {
    height: 300px;
    width: 275px;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 8px;

    font-size: 2.5em;

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
}

.word {
    background-color: rgb(35, 228, 228);
    color: white;
    box-shadow: 0 8px rgb(5, 52, 52);
}

.definition {
    background-color: aquamarine;
    color: black;
    box-shadow: 0 8px rgb(4, 36, 25);
}

.hidden{
    display: none  !important;
}
